{% extends 'base.html.twig' %}

{% block body %}
    <h1>Données liées</h1>
    {{ form_start(form) }}
            <div class="form_content input_align">
                {{ form_label(form.doi) }}
                <div class="form_input">{{ form_widget(form.doi) }}</div>
                <div class="form_error">{{ form_errors(form.doi)}}</div>
            </div>
        {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if data %}
        <h2>Résultats</h2>
        <a href={{ data.url }}>{{ data.title }}</a> Publié le {{ data.date|date("m/d/Y") }} <br><br>
        Authors:
        <ul>
        {% for author in data.authors %}
            <li>{{ author }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}